* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1919px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-search {
    position: relative;
    margin-top: 40px;
    height: 140px;
    border: pink 1px solid;
    text-indent: -9999px;
}

.logo {
    width: 380px;
    height: 140px;
    background: url("../image/logo_03.png");
}

.searcher {
    position: absolute;
    display: flex;
    top: 25px;
    left: 430px;
    width: 870px;
    height: 80px;
    background-color: pink;
}

.searcher .fl {
    width: 780px;
    border: 1px red solid;
    font: 22px 宋体;
}

.searcher .fr {
    width: 140px;
    border: 1px red solid;
    background: url("../image/search-button.png");
}

.nav {
    position: absolute;
    display: flex;
    top: 25px;
    left: 1380px;
    width: 540px;
    height: 80px;
}

.nav .release {
    /* background: url("../image/fb.png"); */
    border: 1px red solid;
    width: 140px;
    height: 80px;
    border-radius: 10%;
}

.nav .release div {
    display: block;
    width: 140px;
    height: 80px;
}

.nav .download {
    flex: 1;
}

.nav .login {
    flex: 1;
}

nav {
    position: relative;
    margin-top: 70px;
}

.dorpdown {
    float: left;
    width: 425px;
    height: 70px;
    background-color: #b1191a;
    color: #ffffff;
}

.dt {
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.dd {
    height: 860px;
    background-color: #ecc2c2;
}

.dd ul {
    display: flex;
    height: 860px;
    flex-direction: column;
}

.dd ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
}

.dd ul li dt {
    flex: 1;
    font: 22px 宋体;
    padding-top: 25px;
    padding-left: 40px;
    color: #ae4141;
}

.dd ul li dd {
    flex: 1;
    font: 22px 宋体;
    padding-bottom: 25px;
    padding-left: 40px;
    color: #000000;
}

.navitems {
    float: left;
    height: 70px;
}

.navitems li {
    float: left;
    padding: 0 20px;
    /* margin-left: 45px; */
    margin-top: 15px;
    font: 22px 宋体;
    color: #333333;
}

.banner {
    position: absolute;
    display: flex;
    top: 70px;
    left: 425px;
    width: 1494px;
    height: 617px;
}

.banner img {
    width: 1024px;
}

.banner form {
    flex: 1;
}

.banner form dt {
    font: 28px 宋体;
    margin-top: 30px;
    margin-left: 130px;
    padding-left: 40px;
}

.banner form dd {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 175px;
    margin-top: 30px;
    margin-left: 40px;
    /* background-color: yellow; */
    justify-content: space-between;
}

.banner form dd input {
    height: 70px;
    border-radius: 10px;
    font: 28px 宋体;
    color: #c2b8b8;
}

.info {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    justify-content: space-between;
    font: 22px 宋体;
}

.login-button {
    margin-top: 20px;
    margin-left: 40px;
    background: url("../image/login-button.png");
    border-radius: 10px;
    width: 400px;
    height: 70px;
}

.other-login ul {
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    flex-wrap: wrap;
}

.other-login ul li {
    width: 200px;
    height: 100px;
    border: 1px red solid;
}

.other-login ul li a {
    display: flex;
    width: 200px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.other-login ul li img:nth-child(1) {
    width: 60px;
    height: 60px;
    /* border: 1px red solid; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.other-login ul li img:nth-child(2) {
    width: 87px;
    height: 26px;
    /* border: 1px red solid; */
}

.ad ul {
    width: 1496px;
    height: 243px;
    position: absolute;
    display: flex;
    top: 687px;
    left: 425px;
    /* border: 1px red solid; */
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ad img {
    margin-left: 20px;
    width: 346px;
    height: 200px;
}

.recommend {
    display: flex;
    width: 1919px;
    height: 950px;
    margin-top: 1000px;
    justify-content: space-between;
    /* background-color: pink; */
}

.official-recommend {
    position: relative;
    width: 775px;
    /* background-color: pink; */
    font: 28px 宋体;
}

.recommend-title {
    /* width: 775px; */
    height: 75px;
    border-bottom: #a9a5a5 2px solid;
}

.recommend-title .title {
    position: absolute;
    top: 25px;
    left: 0;
}

.recommend-title a {
    position: absolute;
    top: 25px;
    right: 0;
    color: #a9a4a4;
}

.official-recommend dd {
    display: flex;
    width: 775px;
    height: 875px;
    flex-direction: column;
    justify-content: center;
}

dd .news {
    display: flex;
    flex: 1;
    height: 218.75px;
    /* border: green 1px solid; */
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.news img {
    width: 231px;
    height: 155px;
}

.news-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font: 16px 宋体;
}

.news-info {
    display: block;
    width: 505px;
    font: 12px 宋体;
    line-height: 20px;
}

.stories {
    position: relative;
    width: 545px;
    font: 28px 宋体;
    background-color: red;
}

.ranking-list {
    width: 490px;
    background-color: yellow;
}